@page "/"
@page "/products"
@layout MainLayout
@inherits Novorfay.Pages.ProductsComponent

@using Radzen
@using Radzen.Blazor
@using Novorfay.Models.ConData
@using Microsoft.AspNetCore.Identity;
@using Novorfay.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Products">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Count="@getProductsCount" Data="@getProductsResult" FilterMode="FilterMode.Advanced" TItem="Novorfay.Models.ConData.Product" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="Novorfay.Models.ConData.Product" Property="ProductID" Title="Product ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Novorfay.Models.ConData.Product" FilterProperty="ProductCategory.CategoryName" GroupProperty="ProductCategory.CategoryName" Property="CategoryID" SortProperty="ProductCategory.CategoryName" Title="Product Category">
              <Template Context="data">
              @(data.ProductCategory?.CategoryName)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Novorfay.Models.ConData.Product" Property="ProductName" Title="Product Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Novorfay.Models.ConData.Product" Property="Price" Title="Price">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Novorfay.Models.ConData.Product" Property="Picture" Title="Picture">
              <Template Context="novorfayModelsConDataProduct">
                <RadzenImage Path="@(novorfayModelsConDataProduct.Picture)" style="height: 30px; width: 30px">
                </RadzenImage>
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Novorfay.Models.ConData.Product" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="novorfayModelsConDataProduct">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, novorfayModelsConDataProduct))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
